.dropdown-item:hover {
  background-color: #2D3A75 !important;
}

.logo {
  display: block;
  position: relative;
  top: 3vh;
  color: white;
}

.logo a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.menu {
  position: relative;
  top: -2vh;
}

.nav-item a {
  color: white;
}

nav {
  margin-bottom: 40px;
  background-color: #4DB1E0;
  border-radius: 0;
  -webkit-box-shadow: -4px -11px 23px 14px rgba(0,0,0,0.17);
  -moz-box-shadow: -4px -11px 23px 14px rgba(0,0,0,0.17);
  box-shadow: -4px -11px 23px 14px rgba(0,0,0,0.17);
}
