<div class="row">
  <div class="col-l4 campo">
    <p>Cédula:</p>
    <p>Cumpleaños :</p>
    <p>Teléfono 1:</p>
    <p>Teléfono 2:</p>
    <p>Extensión:</p>
    <p>Dirección de la residencia:</p>
    <p>Email corporativo:</p>
    <p>Email personal:</p>
    <p>Libreta militar:</p>
  </div>
  <div class="col-l8 valor-campo">
    <p>{{empleado.legalCodeIdentification}}</p>
    <p>{{empleado.birthdate}}</p>
    <p>{{empleado.phone1}}</p>
    <p>{{empleado.phone2}}</p>
    <p>{{empleado.phoneExtension}}</p>
    <p>{{empleado.houseAddress}}</p>
    <p>{{empleado.corporateEmail}}</p>
    <p>{{empleado.personalEmail}}</p>
    <p>{{empleado.militaryCard}}</p>
  </div>
</div>
