

p > label {
  display: block;
}

input[type=text],
input[type=email],

fieldset {
/* requerido para estilizar adecuadamente elementos
   de formulario en navegadores basados en WebKit */
  -webkit-appearance: none;
  width : 100%;
  border: 1px solid #333;
  margin: 0;
  
  font-family: inherit;
  font-size: 90%;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

input:valid {
  box-shadow: 0 0 5px 1px green;
}

input:focus:valid {
  outline: none;
}

//input[type="text"]:required {
  box-shadow: 0 0 5px 1px red;
}
