<div id="createUser" class="container">
    <h1>Crear Usuario</h1>
    <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
        <br>
        <br>
        <form novalidate [formGroup]="userForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" pattern="[a-zA-Z ]*" id="firstName" formControlName="firstName" required="">
                <p *ngIf="userForm.get('firstName').hasError('pattern')">Por favor llene el campo con SOLO letras</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" pattern="[a-zA-Z ]*" id="lastName" formControlName="lastName" required="">
                <p *ngIf="userForm.get('lastName').hasError('pattern')">Por favor llene el campo con SOLO letras</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="subCategory">Owner ID</label>
                    <input type="text" class="form-control" placeholder="Bzapata" id="subCategory" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@(cidenet\.com\.co)" required="" formControlName="email">
                    <!--<p *ngIf="userForm.get('email').hasError('email')">no tiene formato de email</p>!-->
                    <p *ngIf="userForm.get('email').hasError('pattern')">tiene que tener el dominio de cidenet</p>

                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-outline-primary" type="submit" [disabled]="!userForm.valid" (click)="getHero()">Guardar</button>
                <div class="form-group col-md-1"></div>
                <button class="btn btn-outline-secondary" (click)="cancelCreateUser()">Cancelar</button>
            </div>
            <br>
            <br>
            <p class="alert alert-danger" *ngIf="!userForm.valid 
                                                 && userForm.controls.firstName.touched 
                                                 && userForm.controls.lastName.touched
                                                 && userForm.controls.email.touched">Por favor complete todos los campos</p>
        </form>
    </div>
</div>
